@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0C1A1A;
}

.font-mono-custom {
  font-family: 'Roboto Mono', monospace;
}

#root {
  width: 100%;
  margin: 0 auto;
}
